################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/packages
/obj
/source/.vs/NowPlaying
/source/bin
/source/obj
/source/packages
/packages
