################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/.vs/NowPlaying
/packages
/obj
/source/.vs/NowPlaying
/source/bin
/source/obj
/source/packages
/packages
/.vs/NowPlaying/v17/.suo
/.vs/NowPlaying/v17/.suo
