<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chromiumembeddedframework.runtime.win-x64" version="141.0.11" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="141.0.11" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.13.0" targetFramework="net462" />
  <package id="Prism.Container.Abstractions" version="9.0.107" targetFramework="net462" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net462" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
</packages>